/* Header */
.l-header {
  &__image {
    display: block;
    margin: 30px auto;
    border-radius: 100%;
    border: 5px solid $color-border;
  }
  &__title {
    font-size: 2rem;
    text-align: center;
  }
}